html, body{
  height: 100%;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}
.main-container{
  min-height: 100%;
  margin: 50px 0;
}
.like_ads{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 40px;
}
.ads_wrapper{
  width: 968px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
.items-container__wrapper{
  display: flex;
  justify-content: space-between;
}
.more-items{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #00A0AB;
  text-decoration: none;
  margin-top: 16px;
  margin-left: auto;
}
.more-items::after{
  margin-left: 5px;
  background: url(images/arrow-down-icon.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  content: "";
  display: inline-block;

}
.item-container__wrapper{
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  width: 224px;
  min-height: 368px;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
.item-content--visited::before{
  content: 'Просмотрено';
  display: inline-block;
  position: absolute;
  top: 12px;
  padding: 5px 8px;
  left:50%; 
  margin-left:-22%;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  background: rgba(44, 44, 44, 0.74);
  border-radius: 8px;
  z-index: 1;
}
.item-container__wrapper.item-content--visited{
  background: #FFF6A5;
}

.images-group{
  position: relative;
  border-radius: 8px 8px 0 0;
  width: 224px;
  height: 260px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
}
.image__wrp{
  display: flex;
  align-items: flex-end;
  width: 224px;
  height: 260px;
}
.image__wrp img{
  width: 224px;
  background-origin: content-box;
}
.item-btn__icon{
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.item-stat-btn{
  position: absolute;
  top: 166px;
  right: 12px;
}
.item-stat-btn::after{
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(images/statistics-icon.svg);
  background-repeat: no-repeat;
}

.item-favorite-btn{
  position: absolute;
  top: 205px;
  right: 14px;
}
.item-favorite-btn::after{
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(images/favorite-icon.svg);
  background-repeat: no-repeat;
}
.product-item__favorite--active::after{
  content: "";
  background: url(images/favorite-icon-active.svg);
}
.item-content__details{
  display: flex;
  justify-content: space-between;
}
.item-prices{
  padding-top: 2px;
}
.through-price{
  font-size: 1rem;
  font-weight: 400;
  color: #5A5A5A;
  text-decoration: line-through;
}
.current-price{
  font-weight: 700;
  padding-top: 1px;
  font-size: 22px;
}
.item-options{
  margin-top: 4px;
}
.delivery-details{
  margin-right: 14px;
  display: inline-block;
}
.delivery-details::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(images/delivery-icon.svg);
  background-position: 0 3px;
  background-repeat: no-repeat;
}
.warranty-details::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(images/warranty-icon.svg);
  background-repeat: no-repeat;
}
.item-description{
  margin-top: 8px;
  text-align: center;
}
.item-description__link{
  font-size: 1rem;
  line-height: 16px;
  color: #2C2C2C;
  text-decoration: none;
}
.item-content__details{
  margin: 0 12px 0 12px;
}
.item-location, .item-date{
  font-weight: 400;
  color: #8F8F8F;
  line-height: 14px;
  padding-bottom: 14px;
}
.item-date{
  white-space: nowrap;
}

